<IfModule mod_rewrite.c>
# 开启功能
RewriteEngine on
# 你要绑定的二级域名
RewriteCond %{HTTP_HOST} ^(no1.)?ihakula.com$
# 把那个子目录指向要绑定的二级域名
# 这里以子目录blog目录为例
RewriteCond %{REQUEST_URI} !^/zm-blog/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /zm-blog/$1
#这里改成要绑定的二级域名和要绑定的子目录
RewriteCond %{HTTP_HOST} ^(no1.)?ihakula.com$
RewriteRule ^(/)?$ zm-blog/index.php [L]
</IfModule>

